*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

img {
    width: 100%;
}

:root {
    // primary
    --input-border-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --input-focus: hsl(249, 99%, 64%);
    --red-error: hsl(0, 100%, 66%);

    // neutral
    --white: hsl(0, 0%, 100%);
    --light-gray-violet: hsl(270, 3%, 87%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

// cards

.cards {
    position: relative;
}

.cards__background {
    max-height: 350px;
}

.cards__background--desktop {
    display: none;
}

.cards__wrapper {
    width: 90%;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 550px;
    margin: auto;
}

.card {
    width: 85%;
    position: absolute;
    max-width: 300px;
}

.card>img {
    box-shadow: rgba(17, 12, 46, 0.2) 0px 48px 100px 0px;
}

.card__back {
    top: 0;
    right: 0;
}

.cvc {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    right: 13%;
    color: var(--white);
    font-size: .8rem;
}

.card__front {
    top: 6rem;
    left: 0;
}

.card__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    color: white;
}

.card__logo {
    width: 50px;
}

.card__number {
    margin-top: 1.7125rem;
    font-size: clamp(1rem, 5vw, 1.35rem);
    font-weight: 400;
    letter-spacing: 1px;
}

.card__detail {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .7rem;
    color: var(--light-gray-violet);
    position: absolute;
    width: calc(100% - 2rem);
    bottom: 1.5rem;
}

// form

.actions {
    padding: 4rem 1rem 2rem;
    max-width: 500px;
    margin: auto;
}

.form label {
    font-weight: 500;
    color: var(--very-dark-violet);
    letter-spacing: 1px;
    font-size: .9rem;
    margin: 1.5rem 0 .25rem;
    display: block;
}

.form input {
    padding: .75rem 1rem;
    background-color: var(--white);
    border-radius: 7px;
    border: 0;
    outline: 1px solid var(--light-gray-violet);
    width: 100%;
}

.form input:focus {
    outline-color: var(--input-focus);
}

.form input::placeholder {
    font-weight: 500;
    color: var(--dark-gray-violet);
    opacity: .5;
}

.form input.error {
    outline-color: var(--red-error);
}

.input__wrapper {
    position: relative;
}

.error__msg {
    font-size: .7rem;
    color: var(--red-error);
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
}

.form__grid,
.form__date__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5rem;
}

.button {
    width: 100%;
    padding: .75rem;
    border: 2px solid var(--very-dark-violet);
    margin-top: 1.5rem;
    border-radius: 7px;
    color: white;
    font-weight: 500;
    background-color: var(--very-dark-violet);
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease;
}

.button:hover,
.button:focus-visible {
    background-color: transparent;
    color: var(--very-dark-violet);
}

/* Chrome, Safari, Edge, Opera */
.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form input[type=number] {
  -moz-appearance: textfield;
}

// success

.success {
    text-align: center;
    font-weight: 500;
}

.success img {
    width: 70px;
    display: block;
    margin: 1.5rem auto;
    opacity: 0;
    transform: scale(.7);
    animation: load-in 1s ease forwards;
}

@keyframes load-in {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.success h2 {
    font-size: 2rem;
    color: var(--very-dark-violet);
}

.success p {
    font-size: 1rem;
    color: var(--dark-gray-violet);
    margin-top: 1rem;
}

.success h2,
.success p,
.success .button {
    opacity: 0;
    transform: translateY(-50%);
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: none;
    }
}

@media (min-width: 1160px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-height: 100vh;
        align-items: center;
    }

    .actions {
        grid-column: span 2;
    }

    .cards {
        height: 100%;
    }

    .cards__background {
        display: none;
    }

    .cards__background--desktop {
        display: unset;
        max-height: 100vh;
        height: 100%;
    }

    .cards__wrapper {
        position: absolute;
        height: 400px;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }

    .card {
        max-width: 380px;
    }

    .card__back {
        bottom: 0;
        top: unset;
    }

    .card__front {
        top: 0;
    }
}

@media (min-width: 1300px) {
    .card__number {
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    .cards__wrapper {
        height: 450px;
    }

    .cvc {
        font-size: 1rem;
    }

    .card__detail {
        font-size: .9rem;
    }
}